ion-content
{
    background-color: rgba(0, 154, 215, 0.95) !important;
}
ion-col
{
    text-align: center;
}
.btn-footer
{
    bottom: 0;
    position: sticky;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 95%;
}

